
body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

p {
	font-size: 20px;
	font-weight: 400;
}

.intro-header {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #f8f8f8;
	background: url(../img/bg/bg-blue.jpg) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
	margin: 0;
	font-size: 5em;
	
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 3em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}
}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
	text-align:center;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
	text-align:center;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 3em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}	
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}



.navbar-brand{
	height:80px;
}
.navbar-nav > li > a{
	line-height: 	50px;
}
.navbar-default {
background-color: #f8f8f8;
border-color: #e7e7e7;
}


#services-tabs ul {
margin: 0 auto;
display: block;
text-align: center;
list-style: none;
}
#services-tabs li {
	overflow: hidden;
	width: 180px;
	height: 180px;
	border: solid 6px #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-khtml-border-radius: 50%;

	background-repeat: repeat-x;
	background-position: 0 54px;
	box-shadow: 0 0 4px rgba(0,0,0,0.50);
	margin: 0 18px;
	display: inline-block;
	text-align: center;
}
#services-tabs li.clients {
background-color: #555faa;
}
#services-tabs li.years {
background-color: #2980b9;
}
#services-tabs li.projects {
background-color: #F5AB35;
}
#services-tabs li a{
	text-decoration:none;
}
#services-tabs li a span {
text-align: center;
color: #fff;
font-size: 60px;
padding: 40px 0 0 0;
display: block;
height: 50px;
line-height: 50px;
margin: 0px;

}
#services-tabs li a div {
display: block;
padding: 50px 0 0 0;
color: white;
}
.services{

	height:400px;
	margin:10px;
	text-align:center;
	padding:10px;
}

.offers{
	
	color:white;
	background: url(../img/bg/bg-services.jpg) no-repeat center center;

}
.profile{
	text-align:center;
}
.ideas{
	text-align:center;
}
.mission-section{
	text-align:center; 
	padding-top:20px;
}
.mission-details{
	padding-top:30px;
}

h2{
	font-size:40px;
}